# Filtragem e Unificação dos Bancos

## Pacotes necessários

In [5]:
import pandas as pd
from dbfread import DBF

## Leitura do banco

In [9]:
tabela = DBF(filename="/home/costela/Documentos/Escorpiao-series/Dados_brutos/ANIMBR07.dbf", load=True, encoding='latin1')
df_bruto = pd.DataFrame(tabela)

## Filtro

In [13]:
df_sp = df_bruto[df_bruto['SG_UF']=='35']

In [14]:
df_sp = df_sp[['DT_SIN_PRI', 'SEM_PRI','ANO_NASC', 'NU_IDADE_N', 'CS_SEXO', 'CS_GESTANT', 'CS_RACA', 'CS_ESCOL_N',
    'ID_MN_RESI', 'ID_OCUPA_N', 'ANT_DT_ACI', 'ANT_UF', 'ANT_MUNIC_', 'ANT_LOCALI', 'ANT_TEMPO_',
       'ANT_LOCA_1', 'MCLI_LOCAL', 'CLI_DOR', 'CLI_EDEMA', 'CLI_EQUIMO',
       'CLI_NECROS', 'CLI_LOCAL_', 'CLI_LOCA_1', 'MCLI_SIST', 'CLI_NEURO',
       'CLI_HEMORR', 'CLI_VAGAIS', 'CLI_MIOLIT', 'CLI_RENAL', 'CLI_OUTR_2',
       'CLI_OUTR_3', 'CLI_TEMPO_', 'TP_ACIDENT', 'ANI_TIPO_1', 'ANI_SERPEN',
       'ANI_ARANHA', 'ANI_LAGART', 'TRA_CLASSI', 'CON_SOROTE', 'NU_AMPOLAS',
       'NU_AMPOL_1', 'NU_AMPOL_8', 'NU_AMPOL_6', 'NU_AMPOL_4', 'NU_AMPO_7',
       'NU_AMPO_5', 'NU_AMPOL_9', 'NU_AMPOL_3', 'COM_LOC', 'COM_SECUND',
       'COM_NECROS', 'COM_COMPOR', 'COM_DEFICT', 'COM_APUTAC', 'COM_SISTEM',
       'COM_RENAL', 'COM_EDEMA', 'COM_SEPTIC', 'COM_CHOQUE', 'DOENCA_TRA',
       'EVOLUCAO', 'DT_OBITO', 'DT_ENCERRA', 'DT_DIGITA']]

## Recodificação

In [ ]:
# Gestante
(
    df_sp.assign(
        CS_GESTANT=lambda d: d['CS_GESTANT'].replace({
            "1": "1 semestre",
            "2": "2 semestre",
            "3": "3 semestre",
            "4": "Idade gestacional ign",
            "5": "Nao",
            "6": "Nao se apl    ica",
            "9": None
        }),
        
        CS_RACA=lambda d: d['CS_RACA'].replace({
            "1": "Branca",
            "2": "Preta",
            "3": "Amarela",
            "4": "Parda",
            "5": "Indigena",
            "9": None
        }),
        
        CS_ESCOL_N=lambda d: d['CS_ESCOL_N'].replace({
            "00": "Analfabeto",
            "01": "1 a 4 incompleto",
            "02": "4a completa",
            "03": "5 a 8 incompleto",
            "04": "Fundamental completo",
            "05": "Medio incompleto",
            "06": "Medio completo",
            "07": "Superior incompleto",
            "08": "Superior completo",
            "10": "Nao se aplica",
            "09": None
        })
    )
)

,DT_SIN_PRI,SEM_PRI,ANO_NASC,NU_IDADE_N,CS_SEXO,CS_GESTANT,CS_RACA,CS_ESCOL_N,ID_MN_RESI,ID_OCUPA_N,...,COM_SISTEM,COM_RENAL,COM_EDEMA,COM_SEPTIC,COM_CHOQUE,DOENCA_TRA,EVOLUCAO,DT_OBITO,DT_ENCERRA,DT_DIGITA
50,2007-01-25,200704,1958,4048,M,Nao se aplica,Branca,5 a 8 incompleto,350280,,...,2,,,,,1,1,None,2007-01-25,2007-01-26
103,2007-01-29,200705,1960,4046,M,Nao se aplica,,,351870,,...,9,,,,,9,,None,2007-02-15,2007-02-15
104,2007-01-13,200702,,4018,M,Nao se aplica,Parda,Medio completo,351660,,...,2,,,,,1,1,None,2007-01-22,2007-01-29
105,2007-01-10,200702,1967,4039,F,Nao,Parda,Medio completo,351660,,...,2,,,,,2,1,None,2007-01-25,2007-01-29
106,2006-12-28,200652,1988,4018,M,Nao se aplica,Branca,Fundamental completo,351660,,...,,,,,,,1,None,2007-01-03,2007-01-15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103365,2007-12-30,200801,1951,4056,M,Nao se aplica,Branca,1 a 4 incompleto,352210,,...,,,,,,2,1,None,2008-01-16,2008-01-03
103366,2007-12-15,200750,1987,4020,M,Nao se aplica,Parda,4a completa,352210,,...,2,,,,,1,1,None,2007-12-28,2007-12-19
103367,2007-12-06,200749,1984,4023,F,Nao,Branca,None,350410,,...,9,,,,,2,1,None,2007-12-12,2007-12-12
103368,2007-12-01,200748,1990,4017,F,None,Branca,None,350410,,...,9,,,,,2,1,None,2007-12-28,2007-12-28
103369,2007-12-22,200751,1993,4014,M,Nao se aplica,Parda,Medio incompleto,350410,999991,...,2,,,,,2,9,None,2007-12-23,2008-02-18