# Filtragem e Unificação dos Bancos

## Pacotes necessários

In [2]:
import pandas as pd
from dbfread import DBF

## Leitura do banco

In [7]:
tabela = DBF("/home/usuario/Documentos/Escorpiao_series/Dados_brutos/ANIMBR07.dbf", load=True, encoding='latin1')
df_bruto = pd.DataFrame(tabela)

## Filtro

In [8]:
df_sp = df_bruto[df_bruto['SG_UF']=='35']

In [10]:
df_sp.head()

,TP_NOT,ID_AGRAVO,DT_NOTIFIC,SEM_NOT,NU_ANO,SG_UF_NOT,ID_MUNICIP,ID_REGIONA,DT_SIN_PRI,SEM_PRI,...,COM_SISTEM,COM_RENAL,COM_EDEMA,COM_SEPTIC,COM_CHOQUE,DOENCA_TRA,EVOLUCAO,DT_OBITO,DT_ENCERRA,DT_DIGITA
50,2,X29,2007-01-25,200704,2007,35,350280,1336,2007-01-25,200704,...,2,,,,,1,1,None,2007-01-25,2007-01-26
103,2,X29,2007-01-29,200705,2007,35,354850,1349,2007-01-29,200705,...,9,,,,,9,,None,2007-02-15,2007-02-15
104,2,X29,2007-01-22,200704,2007,35,351660,1344,2007-01-13,200702,...,2,,,,,1,1,None,2007-01-22,2007-01-29
105,2,X29,2007-01-25,200704,2007,35,351660,1344,2007-01-10,200702,...,2,,,,,2,1,None,2007-01-25,2007-01-29
106,2,X29,2007-01-03,200701,2007,35,351660,1344,2006-12-28,200652,...,,,,,,,1,None,2007-01-03,2007-01-15