In [2]:
import pandas as pd
import fastparquet
import os

In [3]:
df = pd.read_parquet(
    "/home/usuario/Documentos/Escorpiao_series/Dados_processados/df1_recodificado.parquet",
    engine="fastparquet"
)

In [6]:
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180668 entries, 0 to 180667
Data columns (total 69 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DT_SIN_PRI      180668 non-null  datetime64[ns]
 1   SEM_PRI         180668 non-null  object
 2   ANO_NASC        180668 non-null  object
 3   NU_IDADE_N      180668 non-null  int64
 4   CS_SEXO         180583 non-null  object
 5   CS_GESTANT      170048 non-null  object
 6   CS_RACA         166897 non-null  object
 7   CS_ESCOL_N      139586 non-null  object
 8   ID_MN_RESI      180668 non-null  object
 9   ID_OCUPA_N      180668 non-null  object
 10  ANT_DT_ACI      180668 non-null  int64
 11  ANT_UF          180668 non-null  object
 12  ANT_MUNIC_      180668 non-null  object
 13  ANT_LOCALI      180668 non-null  object
 14  ANT_TEMPO_      170928 non-null  object
 15  ANT_LOCA_1      176145 non-null  object
 16  MCLI_LOCAL      178863 non-null  object
 17  CLI_DOR         180582 non-null  object
 18  CLI_EDEMA       178852 non-null  object
 19  CLI_EQUIMO      178397 non-null  object
 20  CLI_NECROS      178355 non-null  object
 21  CLI_LOCAL_      176875 non-null  object
 22  CLI_LOCA_1      180668 non-null  object
 23  MCLI_SIST       175886 non-null  object
 24  CLI_NEURO       180496 non-null  object
 25  CLI_HEMORR      180489 non-null  object
 26  CLI_VAGAIS      180564 non-null  object
 27  CLI_MIOLIT      180487 non-null  object
 28  CLI_RENAL       180480 non-null  object
 29  CLI_OUTR_2      180523 non-null  object
 30  CLI_OUTR_3      180668 non-null  object
 31  CLI_TEMPO_      180668 non-null  object
 32  TP_ACIDENT      180668 non-null  object
 33  ANI_TIPO_1      180668 non-null  object
 34  ANI_SERPEN      180668 non-null  object
 35  ANI_ARANHA      180668 non-null  object
 36  ANI_LAGART      180668 non-null  object
 37  TRA_CLASSI      177285 non-null  object
 38  CON_SOROTE      170491 non-null  object
 39  NU_AMPOLAS      117335 non-null  float64
 40  NU_AMPOL_1      117330 non-null  float64
 41  NU_AMPOL_8      117383 non-null  float64
 42  NU_AMPOL_6      117325 non-null  float64
 43  NU_AMPOL_4      117329 non-null  float64
 44  NU_AMPO_7       117324 non-null  float64
 45  NU_AMPO_5       117324 non-null  float64
 46  NU_AMPOL_9      119291 non-null  float64
 47  NU_AMPOL_3      117332 non-null  float64
 48  COM_LOC         173631 non-null  object
 49  COM_SECUND      180664 non-null  object
 50  COM_NECROS      180654 non-null  object
 51  COM_COMPOR      180655 non-null  object
 52  COM_DEFICT      180653 non-null  object
 53  COM_APUTAC      180655 non-null  object
 54  COM_SISTEM      173320 non-null  object
 55  COM_RENAL       180657 non-null  object
 56  COM_EDEMA       180668 non-null  object
 57  COM_SEPTIC      180658 non-null  object
 58  COM_CHOQUE      180657 non-null  object
 59  DOENCA_TRA      168514 non-null  object
 60  EVOLUCAO        175409 non-null  object
 61  DT_OBITO        65 non-null      float64
 62  DT_ENCERRA      179415 non-null  float64
 63  DT_DIGITA       113535 non-null  float64
 64  IDADE_TIPO      180668 non-null  object
 65  IDADE_COMPLETA  180668 non-null  object
 66  IDADE_ANOS      180668 non-null  int64
 67  FAIXA_ETARIA    180668 non-null  object
 68  ANO             180668 non-null  int32
dtypes: datetime64[ns](1), float64(12), int32(1), int64(3), object(52)
memory usage: 94.4+ MB