In [2]:
import pandas as pd
import fastparquet

In [ ]:
df = pd.read_parquet('/home/usuario/Documentos/Escorpiao_series/Dados_processados/2_df_recodificado.parquet')

In [6]:
df.groupby('DT_SIN_PRI').size().reset_index(name='CASOS')

     DT_SIN_PRI  CASOS
0    1940-12-01      1
1    2012-06-22      1
2    2013-01-15      1
3    2013-01-20      1
4    2013-02-11      1
...         ...    ...
2807 2023-12-08    174
2808 2023-12-09    132
2809 2023-12-10    165
2810 2023-12-11    225
2811 2023-12-12    121

[2812 rows x 2 columns]

In [7]:
df[df['DT_SIN_PRI']]

KeyError: "None of [DatetimeIndex(['2020-01-01', '2020-01-01', '2020-01-01', '2020-01-01',\n               '2020-01-01', '2020-01-01', '2020-01-01', '2020-01-01',\n               '2020-01-01', '2020-01-01',\n               ...\n                      'NaT',        'NaT',        'NaT',        'NaT',\n                      'NaT',        'NaT',        'NaT',        'NaT',\n                      'NaT', '2023-09-08'],\n              dtype='datetime64[ns]', length=291772, freq=None)] are in the [columns]"