In [1]:
# Ler bibliotecas
import pandas as pd
from unidecode import unidecode

In [16]:
df = pd.read_csv('/home/usuario/Documentos/Escorpiao_series/drs.csv', encoding='latin1', sep='\t')
df

     DRS_CODIGO                 DRS_NOME       NOME_MUNI
0          3501  DRS-01 Grande São Paulo           ARUJÁ
1          3501  DRS-01 Grande São Paulo         BARUERI
2          3501  DRS-01 Grande São Paulo  BIRITIBA-MIRIM
3          3501  DRS-01 Grande São Paulo        CAIEIRAS
4          3501  DRS-01 Grande São Paulo         CAJAMAR
..          ...                      ...             ...
640        3517           DRS-17 Taubaté   SÃO SEBASTIÃO
641        3517           DRS-17 Taubaté       SILVEIRAS
642        3517           DRS-17 Taubaté         TAUBATÉ
643        3517           DRS-17 Taubaté        TREMEMBÉ
644        3517           DRS-17 Taubaté         UBATUBA

[645 rows x 3 columns]

In [23]:
df['NOME_MUNI'] = df['NOME_MUNI'].astype(str).apply(unidecode)
df['DRS_NOME'] = df['DRS_NOME'].astype(str).apply(unidecode)

In [24]:
df.to_excel('/home/usuario/Documentos/Escorpiao_series/drs.xlsx')

In [25]:
df_macro = pd.read_excel('/home/usuario/Documentos/Escorpiao_series/Muni_por_macro.xlsx')
df_drs = pd.read_excel('/home/usuario/Documentos/Escorpiao_series/Muni_por_drs.xlsx')
df_cir = pd.read_excel('/home/usuario/Documentos/Escorpiao_series/Muni_por_cir.xlsx')

In [36]:
df = df_macro.merge(
    df_drs,
    on='NOME_MUNI',   
    how='left',
   )

In [50]:
df = df.merge(
    df_cir,
    on='NOME_MUNI',
    how='left'
)

In [58]:
df = df.drop(columns='Unnamed: 0')
df

,MACRO_CODIGO,MACRO_NOME,NOME_MUNI,DRS_CODIGO,DRS_NOME,CIR_CODIGO,CIR_NOME
0,3534,RRAS01,SANTO ANDRE,3501,DRS-01 Grande Sao Paulo,35015,Grande ABC
1,3534,RRAS01,RIO GRANDE DA SERRA,3501,DRS-01 Grande Sao Paulo,35015,Grande ABC
2,3534,RRAS01,RIBEIRAO PIRES,3501,DRS-01 Grande Sao Paulo,35015,Grande ABC
3,3534,RRAS01,SAO CAETANO DO SUL,3501,DRS-01 Grande Sao Paulo,35015,Grande ABC
4,3534,RRAS01,MAUA,3501,DRS-01 Grande Sao Paulo,35015,Grande ABC
...,...,...,...,...,...,...,...
640,3536,RRAS19,PIACATU,3502,DRS-02 Aracatuba,35023,Consorcios do DRS II
641,3536,RRAS19,BREJO ALEGRE,3502,DRS-02 Aracatuba,35023,Consorcios do DRS II
642,3536,RRAS19,BRAUNA,3502,DRS-02 Aracatuba,35023,Consorcios do DRS II
643,3536,RRAS19,SUZANAPOLIS,3502,DRS-02 Aracatuba,35022,Lagos do DRS II
644,3536,RRAS19,BIRIGUI,3502,DRS-02 Aracatuba,35023,Consorcios do DRS II

In [60]:
df.to_excel('/home/usuario/Documentos/Escorpiao_series/Muni_por_Macro_DRS_CIR.xlsx', index=False)